[Hook Scripts]
git_cl_presubmit = presubmit_support.py

[Hook Overrides]
# gofmt_check is on by default, but we need to specify it here in order for the
# below exclude_regex to work.
gofmt_check: True

[Hook Overrides Options]
gofmt_check: --exclude_regex=\.pb\.go$
